In [10]:
import numpy as np
import pandas as pd

**1\.** Как создать pd.Series из листа, numpy array и словаря(dict)? (★☆☆)

In [14]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

**2\.** Как сделать превратить индексы из датафрейма в колонку? (★☆☆)

In [15]:
df=pd.DataFrame(['a', 'b', 'c'])

df.reset_index().head()

   index  0
0      0  a
1      1  b
2      2  c

**3\.** Как из нескольких pd.Series сделать один датафрейм? (★★☆)

(hint: pd.concat или словарь с колонками)

In [16]:
df1=pd.Series(['a', 'b', 'c'])
df2=pd.Series(['aa', 'b1', 'c2'])
df3=pd.Series(['44', '55', '66'])

res_df = pd.concat([df1, df2, df3], axis=1)
res_df.head()

   0   1   2
0  a  aa  44
1  b  b1  55
2  c  c2  66

**4\.** Как получить строки из series A, которые не содержатся в series B? (★★☆)

In [17]:
df1=pd.Series(['a', 'b', 'c'])
df2=pd.Series(['a', 'b1', 'c2'])

result_df = pd.concat([df1, df2], axis=1)
result_df = result_df[result_df[0] != result_df[1]][0]
result_df.head()

1    b
2    c
Name: 0, dtype: object

**5\.** Как получить из series/dataframe минимум, 25й персентиль, медиану, 75тый персентиль, максимум? (★☆☆)

(hint: использовать одну команду)

In [18]:
df1=pd.Series(np.arange(10, 99))

np.percentile(df1, [25, 50, 75, 100])

array([32., 54., 76., 98.])

**6\.** Как получить частоту\долю для всех уникальных объектов в series? (★☆☆)

In [19]:
df1=pd.Series(['a', 'b', 'c', 'g', 'v', 'a', 'a', 'a', 'u', 'a', 'b', 'c', 'c'])

df1.value_counts()

a    5
c    3
b    2
v    1
g    1
u    1
dtype: int64

**7\.** Как оставить только топ-2 самых часто встречающихся значений, а все остальные значения заменить на 'other'?  (★★☆)

In [20]:
df1=pd.Series(['a', 'b', 'c', 'g', 'v', 'a', 'a', 'a', 'u', 'a', 'b', 'c', 'c'])

df1.replace(df1.value_counts()[2:].index, 'other')

0         a
1     other
2         c
3     other
4     other
5         a
6         a
7         a
8     other
9         a
10    other
11        c
12        c
dtype: object

**8\.** Как разбить колонку с числовыми значениями на 10 групп одинакового размера?  (★★☆)

(hint: pd.qcut)

In [21]:
s = pd.Series(np.random.random(20))

pd.qcut(s, 10)

0      (0.227, 0.322]
1      (0.632, 0.752]
2      (0.902, 0.932]
3      (0.183, 0.227]
4     (0.0225, 0.128]
5      (0.322, 0.363]
6      (0.818, 0.902]
7      (0.128, 0.183]
8      (0.227, 0.322]
9      (0.183, 0.227]
10    (0.0225, 0.128]
11     (0.752, 0.818]
12     (0.632, 0.752]
13     (0.902, 0.932]
14     (0.363, 0.632]
15     (0.363, 0.632]
16     (0.128, 0.183]
17     (0.752, 0.818]
18     (0.818, 0.902]
19     (0.322, 0.363]
dtype: category
Categories (10, interval[float64]): [(0.0225, 0.128] < (0.128, 0.183] < (0.183, 0.227] <
                                     (0.227, 0.322] ... (0.632, 0.752] < (0.752, 0.818] <
                                     (0.818, 0.902] < (0.902, 0.932]]

**9\.** Как найти позиции чисел, которые делятся на 3 без остатка из series?  (★★☆)

(можно с помощью numpy и с помощью pandas)

In [22]:
df1 = pd.Series([3,17, 77, 300, 5, 6, 7, 1, 15, 21])
df1[df1 % 3 == 0].index

Int64Index([0, 3, 5, 8, 9], dtype='int64')

**10\.** Как извлечь из series строки по индексам?  (★☆☆)

In [23]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

s.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

**11\.** Как сделать stack двух series вертикально и горизонтально? (★☆☆)

(hint: pd.append, pd.concat)

In [24]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))

print(np.append(s1,s2))
pd.concat([s1, s2])

[0 1 2 3 4 'a' 'b' 'c' 'd' 'e']

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

**12\.** Как получить позиции строк из series A из другого series B? (★☆☆)

(можно с помощью numpy и с помощью pandas)

In [25]:
s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])

list(s1[s1.isin(s2)].index)

[0, 4, 5, 8]

**13\.** Как вычислить среднеквадратическую ошибку для истинных и предсказанных значений? (★★☆)

In [26]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.square(truth - pred).mean()

0.20479573860459324

**14\.** Как конвертировать каждый первый элемент строке в series в верхний регистр? (★★☆)

In [27]:
s = pd.Series(['how', 'to', 'kick', 'ass?'])

s.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

**15\.** Как посчитать количество символов в каждой строке? (★★☆)

In [28]:
s = pd.Series(['how', 'to', 'kick', 'ass?'])

s.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

**16\.** Как преобразовать даты в виде строк в timeseries?  (★☆☆)

(hint: pd.to_datetime)

In [29]:
s = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(s)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

**17\.** Как получить день месяца, номер недели, день года и день недели из даты в виде строки? (★★☆)

In [31]:
s = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dates = pd.DatetimeIndex(s)
def get_date_attr(element_index):
    return dates[element_index]

print("Date: ", get_date_attr(0).date())

print("Week number: ", get_date_attr(1).week)

print("Day number of year: ", get_date_attr(2).year)

print("Day of week: ", get_date_attr(3).dayofweek)

Date:  2010-01-01
Week number:  5
Day number of year:  2012
Day of week:  3

**18\.** Как конвертировать дату из формата месяц-год в формат год-месяц-первое число? (★★☆)

(hint: .strftime('%Y-%m-%d'))

In [32]:
s = pd.Series(['Jan 2017', 'Feb 2019', 'Mar 2012'])

timeS = pd.to_datetime(s)
timeS.apply(lambda x: x.strftime('%Y-%m-%d'))

0    2017-01-01
1    2019-02-01
2    2012-03-01
dtype: object

**19\.** Как отфильтровать слова, содержащие не менее 2 гласных? (★★☆)

In [ ]:
s = pd.Series(['Kitty', 'Cat', 'Plan', 'Python', 'Money'])

#your code

**20\.** Заполните все пропущенные даты от минимальной до максимальной, значения при этом дожны быть равны предыдущей не пропущеной дате (★★★)

In [ ]:
s = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

#your code

**21\.** Считайте файл из CSV-файла по строчно и добавьте считанные строки в датафрейм (файл data/BostonHousing.csv)?  (★★☆)

(hint: csv reader)

**22\.** Как изменить значения столбца при импорте csv в фрейм данных?
Импортируйте датасет с помощью pd.read_csv, но колонку 'medv' (median house value) измените так, что если value < 25 = ‘Low’ и если > 25 = ‘High’.  (★★☆)

(hint: pd.read_csv(....., converts={}))

**23\.** Как импортировать только указанные столбцы('crim' и 'medv') и только n строк из CSV-файла?  (★☆☆)

**24\.** Как получить кол-во строк, кол-во столбцов, тип столбцов, кол-во столбцов с таким типом данных, итоговую статистику каждого столбца датафрейма?  (★☆☆)

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB

**25\.** Как извлечь номер строки и столбца конкретной ячейки с заданным критерием? (★☆☆)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Get Manufacturer with highest price

# Get Row and Column number

# Get the value

**26\.** Переименнуйте колонку Type в CarType, в столбцах с '.' в названии замените её на '_'. Как добавить ко всем названиям колонок суффиксы?  (★☆☆)

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df = df.rename(columns={"Type": "CarType"})
df.columns = df.columns.str.replace(r".", "_")
df.head()

  Manufacturer    Model  CarType  ...  Weight   Origin           Make
0        Acura  Integra    Small  ...  2705.0  non-USA  Acura Integra
1          NaN   Legend  Midsize  ...  3560.0  non-USA   Acura Legend
2         Audi       90  Compact  ...  3375.0  non-USA        Audi 90
3         Audi      100  Midsize  ...  3405.0  non-USA       Audi 100
4          BMW     535i  Midsize  ...  3640.0  non-USA       BMW 535i

[5 rows x 27 columns]

**27\.** Проверьте есть ли в датафрейме пропуски? Если да, посчитайте кол-во nan\none в каждом столбце датафрейма  (★★☆)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#your code

**28\.** Как заменить отсутствующие значения нескольких числовых столбцов средним?  (★★☆)

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.isna().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

**29\.** Как выбрать конкретный столбец из датафрейма в качестве датафрейма, а не series?  (★☆☆)

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df[['Max.Price']].head()

   Max.Price
0       18.8
1       38.7
2       32.3
3       44.6
4        NaN

**30\.** Как изменить порядок столбцов данных? (☆☆☆)

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df = df.reindex(columns=sorted(df.columns))
df.head()

              AirBags Cylinders  ... Wheelbase  Width
0                None         4  ...     102.0   68.0
1  Driver & Passenger         6  ...     115.0   71.0
2         Driver only         6  ...     102.0   67.0
3  Driver & Passenger         6  ...     106.0    NaN
4                 NaN         4  ...     109.0   69.0

[5 rows x 27 columns]

**31\.** Как установить количество строк и столбцов, отображаемых в выводе? (☆☆☆)

(hint: pd.set_option)

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', 5)

df.head()

  Manufacturer    Model  ...   Origin           Make
0        Acura  Integra  ...  non-USA  Acura Integra
1          NaN   Legend  ...  non-USA   Acura Legend
2         Audi       90  ...  non-USA        Audi 90
3         Audi      100  ...  non-USA       Audi 100
4          BMW     535i  ...  non-USA       BMW 535i

[5 rows x 27 columns]

**32\.** Как получить номер строки, в которой содержится максимальное значение в столбце? (★★☆)

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

df['a'].idxmax()

**33\.** Как получить последние n строк датафрейма с суммой строк 100?  (★★★)

### Выбросы (оutliers)

* 5 Ways to Detect Outliers/Anomalies That Every Data Scientist Should Know (Python Code)

https://towardsdatascience.com/5-ways-to-detect-outliers-that-every-data-scientist-should-know-python-code-70a54335a623

**34\.** Как найти и заменить выбросы из столбца Series или датафрейма? (★★★)

Замените все значения из столбца ниже 5того и больше 95го персентиля, на пограничные значения.

(hint: .quantile())

In [ ]:
s = pd.Series(np.logspace(-2, 2, 30))

#your code

**35\.** Попробуйте реализовать метод Interquartile Range (IQR) (★★★)

Почитать про него можно по ссылке выше.

In [ ]:
s = pd.Series(np.logspace(-2, 2, 30))

#your code

**36\.** Как поменять местами две строки данных? (★★★)

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

#your code

### one-hot-encoding

**37\.** Как создать однозначные кодировки категориальной переменной? (★★★)

Сделайте one-hot кодировку столбца 'a'.

In [ ]:
df = pd.DataFrame([['aa', 'kek'], ['ba', 'lol'], ['ab', 'kek'], ['aa', 'lol'], ['cc', 'kek']], columns=['a', 'b'])

#your code

**38\.** Нормализуйте все столбцы в датафрейме. (★★★)

a) Нормализовать все столбцы df путем вычитания среднего значения столбца и деления на стандартное отклонение. 

b) Трансформируйте все столбцы df так, чтобы минимальное значение в каждом столбце было 0, а max = 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

#your code

**39\.** Как получить конкретную группу из датафрейма сгруппированного по ключу? (★★★)

Сгруппируйте по 'name', и выведите данные по группе 'orange'.

(hint: groupby(), get_group())

In [ ]:
df = pd.DataFrame({'name': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

#your code

**40\.** Как вычислить среднее значение по столбцу 'price' по каждому фрукту в датафрейме и сохранить сгруппированный столбец как другой столбец (не индекс)? (★★★)

In [ ]:
df = pd.DataFrame({'name': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

#your code

**41\.** Как объединить два датафрейма по двум столбцам, чтобы в них остались только общие строки?  (★★★)

Сделать merge двух датафреймов по колонкам ['fruit', 'weight'] и ['pazham', 'kilo'].

(hint: pd.merge https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#merge )

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

#your code

**42\.** Как удалить строки из датафрейма А, которые присутствуют в датафрейме B? (★★★)

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})

#your code

**43\.** Как получить номера строк, в которых совпадают значения двух столбцов? (★★★)

(hint: np.where)

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})


#your code

**44\.** Создайте столбец a_shift со сдвигом на одну строку назад. (★★★)

(hint: .shift())

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

#your code

**45\.** Как разбить текстовый столбец на три отдельных столбца? (★★★)

Разбить на три столбцы STD, City, State

In [ ]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

#your code

### **46\.** Ну а теперь все вместе.  (★★★★★★★★★★)

* Заменяем все точки в названии на '_'
* Выделить категориальные признаки
* Посчитать кол-во уникальных значений во всех текстовых\категориальных столбцах. 
* Колонки с только уникальными значениями удаляем (например Model и Make)
* Для столбцов у которых значений более 10, оставляем топ 10 значений, остальные заменяем на 'other'
* Числовые столбцы проверяем на пропуски. Подсчитываем кол-во nan\none и делим на размер датафрейма -сохраняем в отдельный датафрейм, это доля пропусков в каждом столбце
* Чистим выбросы. Во всех числовых столбцах заменяем все значения столбца меньше 5го персентиля и больше 95ого персентиля на эти пограничные значения.
* Заполняем пропуски в числовых столбцах на среднее по столбцу, в текстовых столбцах на 'other'
* Все категориальные признаки превращаем в one-hot-encoding
* Создать новый столбец Length_Width = Length * Width
* Столбцы MPG_cityми MPG_highway из MPG перевести в единицы LPG (литры \100 км) = (100 * 3,785)  / (MPG * 1,609)
* Посчитать среднюю цену по каждому типу машины у каждого производителя
* Посчитать максимальные Length и Width по Type
* Посчитать кол-во моделей машин по типу машины и наличию подушки безопасности (агрегирование по столбцам Type и AirBags)
* Посчитать кол-во машин по каждому типу машины у каждого производителя(агрегирование по столбцам Type и Manufacturer)
* Посчитать кол-во машин по Manufacturer-Man_trans_avail
* Вывести у какой модели, какого изготовителя максимальная вместимость по пассажирам

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#your code

In [ ]:
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
6,Buick,LeSabre,Large,19.9,20.8,NaN,19.0,28.0,Driver only,Front,...,6.0,200.0,111.0,74.0,42.0,30.5,17.0,3470.0,USA,Buick LeSabre
7,Buick,Roadmaster,Large,22.6,23.7,24.9,16.0,25.0,Driver only,Rear,...,6.0,216.0,116.0,78.0,45.0,30.5,21.0,4105.0,USA,Buick Roadmaster
8,Buick,Riviera,Midsize,26.3,26.3,26.3,19.0,27.0,Driver only,Front,...,5.0,198.0,108.0,NaN,41.0,26.5,14.0,3495.0,USA,Buick Riviera
9,Cadillac,DeVille,Large,33.0,34.7,36.3,16.0,25.0,Driver only,Front,...,6.0,206.0,114.0,73.0,43.0,35.0,18.0,3620.0,USA,Cadillac DeVille
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16.0,25.0,Driver & Passenger,Front,...,5.0,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,USA,Cadillac Seville
11,Chevrolet,Cavalier,Compact,8.5,13.4,18.3,25.0,36.0,NaN,NaN,...,5.0,182.0,101.0,66.0,38.0,25.0,13.0,2490.0,USA,Chevrolet Cavalier
12,Chevrolet,Corsica,Compact,11.4,11.4,11.4,25.0,34.0,Driver only,Front,...,5.0,184.0,103.0,68.0,39.0,26.0,NaN,2785.0,USA,Chevrolet Corsica
13,Chevrolet,Camaro,Sporty,13.4,15.1,16.8,19.0,28.0,Driver & Passenger,Rear,...,4.0,193.0,101.0,74.0,43.0,25.0,13.0,3240.0,USA,Chevrolet Camaro
14,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,NaN,29.0,None,Front,...,6.0,NaN,108.0,71.0,NaN,28.5,16.0,3195.0,USA,Chevrolet Lumina
15,Chevrolet,Lumina_APV,Van,14.7,16.3,18.0,18.0,23.0,None,Front,...,7.0,178.0,110.0,74.0,44.0,30.5,NaN,3715.0,USA,Chevrolet Lumina_APV
16,Chevrolet,Astro,Van,14.7,16.6,18.6,15.0,20.0,None,4WD,...,8.0,194.0,111.0,78.0,42.0,33.5,NaN,4025.0,USA,Chevrolet Astro
17,Chevrolet,Caprice,Large,18.0,18.8,19.6,17.0,26.0,Driver only,Rear,...,6.0,214.0,116.0,77.0,42.0,29.5,20.0,3910.0,USA,Chevrolet Caprice
18,Chevrolet,Corvette,Sporty,34.6,38.0,41.5,17.0,25.0,Driver only,Rear,...,2.0,179.0,96.0,74.0,43.0,NaN,NaN,3380.0,NaN,Chevrolet Corvette
19,NaN,Concorde,Large,18.4,18.4,18.4,20.0,28.0,Driver & Passenger,Front,...,6.0,203.0,113.0,74.0,NaN,31.0,15.0,3515.0,USA,Chrylser Concorde
20,Chrysler,LeBaron,Compact,14.5,15.8,17.1,23.0,28.0,Driver & Passenger,Front,...,6.0,183.0,104.0,68.0,41.0,30.5,14.0,3085.0,USA,Chrysler LeBaron
21,Chrysler,Imperial,Large,29.5,29.5,29.5,20.0,26.0,Driver only,Front,...,6.0,203.0,110.0,69.0,44.0,36.0,17.0,3570.0,USA,Chrysler Imperial
22,Dodge,Colt,Small,7.9,9.2,10.6,29.0,33.0,None,Front,...,5.0,174.0,98.0,66.0,32.0,NaN,11.0,2270.0,USA,Dodge Colt
23,Dodge,Shadow,Small,8.4,11.3,14.2,23.0,29.0,Driver only,Front,...,5.0,172.0,97.0,67.0,38.0,26.5,NaN,2670.0,USA,Dodge Shadow
24,Dodge,Spirit,Compact,11.9,13.3,14.7,22.0,27.0,Driver only,Front,...,6.0,181.0,104.0,68.0,39.0,30.5,NaN,2970.0,USA,Dodge Spirit
25,Dodge,Caravan,Van,NaN,19.0,24.4,17.0,21.0,Driver only,4WD,...,7.0,175.0,112.0,72.0,42.0,26.5,NaN,3705.0,USA,Dodge Caravan
26,Dodge,Dynasty,Midsize,14.8,15.6,16.4,21.0,NaN,Driver only,Front,...,6.0,192.0,105.0,69.0,42.0,30.5,16.0,3080.0,USA,Dodge Dynasty
27,Dodge,Stealth,Sporty,18.5,25.8,33.1,NaN,24.0,Driver only,4WD,...,4.0,180.0,97.0,NaN,40.0,20.0,11.0,3805.0,USA,Dodge Stealth
28,Eagle,Summit,Small,7.9,12.2,16.5,29.0,33.0,None,Front,...,5.0,174.0,98.0,66.0,36.0,26.5,11.0,2295.0,USA,Eagle Summit
29,Eagle,Vision,Large,NaN,19.3,21.2,20.0,28.0,Driver & Passenger,Front,...,6.0,202.0,113.0,74.0,40.0,30.0,15.0,3490.0,USA,Eagle Vision
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Nissan,Sentra,Small,8.7,11.8,14.9,29.0,33.0,Driver only,Front,...,5.0,170.0,96.0,66.0,33.0,26.0,NaN,NaN,non-USA,Nissan Sentra
64,Nissan,Altima,Compact,13.0,15.7,18.3,24.0,30.0,Driver only,Front,...,5.0,181.0,103.0,67.0,40.0,28.5,14.0,3050.0,non-USA,Nissan Altima
65,Nissan,Quest,Van,16.7,19.1,21.5,17.0,23.0,None,Front,...,7.0,190.0,112.0,74.0,41.0,27.0,NaN,4100.0,non-USA,Nissan Quest
66,Nissan,Maxima,Midsize,21.0,21.5,22.0,21.0,26.0,Driver only,Front,...,5.0,188.0,104.0,69.0,41.0,28.5,14.0,3200.0,non-USA,Nissan Maxima
67,Oldsmobile,Achieva,Compact,13.0,13.5,14.0,24.0,31.0,None,Front,...,5.0,188.0,103.0,67.0,39.0,28.0,14.0,2910.0,USA,Oldsmobile Achieva
68,Oldsmobile,Cutlass_Ciera,Midsize,14.2,16.3,18.4,23.0,31.0,Driver only,Front,...,5.0,190.0,105.0,70.0,42.0,28.0,16.0,2890.0,USA,Oldsmobile Cutlass_Ciera
69,Oldsmobile,Silhouette,Van,19.5,19.5,19.5,18.0,23.0,None,Front,...,7.0,NaN,110.0,74.0,44.0,30.5,NaN,3715.0,USA,Oldsmobile Silhouette
70,Oldsmobile,Eighty-Eight,Large,19.5,20.7,21.9,NaN,28.0,Driver only,Front,...,6.0,201.0,111.0,74.0,42.0,31.5,17.0,3470.0,USA,Oldsmobile Eighty-Eight
71,Plymouth,Laser,Sporty,11.4,14.4,17.4,NaN,30.0,None,4WD,...,4.0,173.0,97.0,67.0,39.0,24.5,8.0,2640.0,NaN,Plymouth Laser
72,Pontiac,LeMans,Small,NaN,9.0,9.9,31.0,41.0,None,Front,...,4.0,177.0,99.0,66.0,35.0,25.5,17.0,2350.0,USA,Pontiac LeMans
73,Pontiac,Sunbird,Compact,9.4,11.1,12.8,NaN,31.0,None,NaN,...,5.0,181.0,101.0,66.0,39.0,25.0,13.0,NaN,USA,NaN
74,Pontiac,Firebird,NaN,14.0,17.7,21.4,19.0,28.0,Driver & Passenger,Rear,...,4.0,196.0,101.0,75.0,43.0,25.0,13.0,3240.0,USA,Pontiac Firebird
75,Pontiac,Grand_Prix,Midsize,15.4,18.5,21.6,19.0,27.0,None,Front,...,5.0,195.0,108.0,72.0,41.0,28.5,16.0,3450.0,USA,Pontiac Grand_Prix
76,Pontiac,Bonneville,Large,19.4,24.4,29.4,19.0,28.0,Driver & Passenger,Front,...,6.0,177.0,111.0,74.0,43.0,30.5,18.0,3495.0,USA,Pontiac Bonneville
77,Saab,900,Compact,20.3,28.7,37.1,20.0,26.0,NaN,Front,...,5.0,NaN,99.0,67.0,37.0,26.5,14.0,2775.0,non-USA,Saab 900
78,Saturn,SL,Small,9.2,NaN,12.9,NaN,38.0,Driver only,Front,...,5.0,176.0,102.0,68.0,40.0,26.5,NaN,2495.0,USA,Saturn SL
79,Subaru,Justy,Small,7.3,8.4,9.5,33.0,37.0,None,4WD,...,4.0,146.0,90.0,60.0,32.0,23.5,10.0,2045.0,non-USA,Subaru Justy
80,Subaru,Loyale,Small,10.5,10.9,11.3,25.0,30.0,None,4WD,...,5.0,175.0,97.0,65.0,35.0,27.5,15.0,2490.0,non-USA,Subaru Loyale
81,Subaru,Legacy,Compact,16.3,19.5,22.7,23.0,30.0,Driver only,4WD,...,5.0,179.0,102.0,67.0,37.0,27.0,14.0,3085.0,non-USA,Subaru Legacy
82,Suzuki,Swift,NaN,7.3,8.6,NaN,39.0,43.0,None,Front,...,4.0,161.0,93.0,NaN,34.0,27.5,10.0,1965.0,non-USA,Suzuki Swift
83,Toyota,Tercel,Small,NaN,9.8,11.8,32.0,37.0,Driver only,Front,...,NaN,162.0,94.0,NaN,36.0,24.0,11.0,2055.0,non-USA,Toyota Tercel
84,Toyota,Celica,Sporty,14.2,18.4,22.6,25.0,32.0,NaN,Front,...,4.0,174.0,99.0,69.0,NaN,23.0,13.0,2950.0,non-USA,Toyota Celica
85,Toyota,Camry,Midsize,15.2,NaN,21.2,22.0,29.0,Driver only,NaN,...,5.0,188.0,103.0,70.0,38.0,28.5,15.0,3030.0,non-USA,Toyota Camry
86,Toyota,Previa,Van,NaN,22.7,26.6,18.0,22.0,Driver only,4WD,...,7.0,187.0,113.0,71.0,41.0,35.0,NaN,3785.0,non-USA,Toyota Previa
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

**47\.** Перевести индексы первого и третьего уровня в колонки

In [ ]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code', 'class'])
df1

                       date_of_birth            name  weight
t_id school_code class
t1   s001        V        15/05/2002  Alberto Franco      35
t2   s002        V        17/05/2002    Gino Mcneill      32
t3   s003        VI       16/02/1999     Ryan Parkes      33
t4   s001        VI       25/09/1998    Eesha Hinton      30
t5   s002        V        11/05/2002    Gino Mcneill      31
t6   s004        VI       15/09/1997    David Parkes      32

**48\.** Вывести строку из Series и DataFrame по заданному индексу

In [ ]:
ds = pd.Series([1,3,5,7,9,11,13,15], index=[0,1,2,3,4,5,7,8])
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]})

indx = 4

**49\.** Найти индексы строк с пропущенными данными

In [ ]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, None, 33, 30, 31, None]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
df

   class date_of_birth            name school_code  weight
t1     V    15/05/2002  Alberto Franco        s001    35.0
t2     V    17/05/2002    Gino Mcneill        s002     NaN
t3    VI    16/02/1999     Ryan Parkes        s003    33.0
t4    VI    25/09/1998    Eesha Hinton        s001    30.0
t5     V    11/05/2002    Gino Mcneill        s002    31.0
t6    VI    15/09/1997    David Parkes        s004     NaN

**50\.** Сделать left join датафреймов

In [ ]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

**51\.** Соединить два датафрейма

In [ ]:
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

**52\.** Сгруппировать датафрейм по полям 'customer_id' и 'salesman_id' и отсортировать по sum of purch_amt внутри каждой группы

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})

**53\.** Сгруппировать датафрейм по месяцу и году из даты ord_date и найти общее количество заказов по годам и по месяцам

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2013','08-17-2013','10-09-2013','07-27-2014','10-09-2012','10-10-2012','10-10-2012','06-17-2014','07-08-2012','04-25-2012'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})

# Regular expressions with Pandas

**1\.** Выделить в отдельную колонку event_id первую цифру в кавычках, во вторую колонку event_probability вероятность (★☆☆)

In [ ]:
df=pd.DataFrame({'col1':["{'34': 0.9839372122311848}",
                         "{'77': 0.6724645988404411}",
                         "{'77': 0.6491011266207006}",
                         "{'77': 0.6123085784265466}",
                         "{'34': 0.87}",
                         "{'77': 0.6225699652019304}",
                         "{'3': 0.5470808226524633}",
                         "{'77': 0.6233849004135044}",
                         "{'77': 0.7050888998743866}",
                         "{'52': 0.8945052223205372}"]})

#your code

**2\.** Удалите все тэги, переносы строк из текстов новостей (★★★)

(hint: df.column.str())

In [ ]:
df = pd.read_excel('news.xlsx')

#your code

**3\.** Проставьте флаг в колонку source_ria если текст новости содержит: риа новости, тасс, коммерсант. Перед поиском переведите тексты в lower и удалите все кроме букв. Данные после чистки из предыдушего задания (★★★)

(hint: df.column.str())

**4\.** Отфильтруйте строки с валидными емейлами (★★★)

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com', 'kek lol@mail.ru'])

#your code

**5\.** Напишите паттерн для поиска строки содержащей только буквы в верхнем и нижнем регистре, цифры и подчеркивание

**6\.** Замените пробелы на подчеркивание и наоборот

**7\.** Найдите слова длиной 3,4,5

**8\.** Сделайте регистронезависимую замену(replace) во входной строке